::-webkit-scrollbar {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #00FF41;
  border-radius: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 4px;
  font-size: calc(1 * (1rem + 1vw));
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.fila, body main, body footer div img, body footer div, body footer, body .cafe a, body .cafe, body .dolar-container, body header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

body {
  display: grid;
  background: #000;
  grid-template-areas: "header" "dolar" "tvGrande" "contenedor" "cafecito" "footer" "main";
}
body header {
  grid-area: header;
}
body header img {
  max-height: 75px;
  aspect-ratio: 1;
}
body .dolar-container {
  grid-area: dolar;
  justify-content: space-around;
}
body .dolar-container .precio-dolar {
  display: grid;
  border: 3px solid #00FF41;
  border-radius: 25px;
  box-shadow: 0 0 15px 5px rgba(0, 255, 0, 0.7);
  transition: all 0.5s;
  grid-template-columns: 1fr;
  grid-template-areas: "titulo" "compra" "venta";
}
body .dolar-container .precio-dolar:hover {
  transition: all 3s;
  background: #ff00be;
  box-shadow: 0 0 15px 5px #ff00be;
  border-color: #ff00be;
}
body .dolar-container .precio-dolar .precio-dolar__titulo {
  grid-area: titulo;
  justify-self: center;
  font-size: calc(0.9 * (1rem + 1vw));
}
body .dolar-container .precio-dolar .precio-dolar__valor-compra {
  grid-area: compra;
  justify-self: center;
  font-size: calc(0.6 * (1rem + 1vw));
  margin: 2px 16px;
}
body .dolar-container .precio-dolar .precio-dolar__valor-venta {
  grid-area: venta;
  justify-self: center;
  font-size: calc(0.6 * (1rem + 1vw));
}
body .dolar-container .precio-dolar span {
  color: #fff;
  font-family: "Roboto", sans-serif;
}
body .main-container {
  grid-area: contenedor;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
body .main-container div .svg-container {
  display: none;
}
body .main-container div iframe {
  justify-self: center;
  width: 100%;
  aspect-ratio: 16/9;
}
body .cafe {
  grid-area: cafecito;
  margin-top: calc(2 * (1rem + 1vw));
  z-index: 20;
  position: sticky;
  top: 0;
  background: #000;
  height: 65px;
}
body footer {
  grid-area: footer;
  z-index: 10;
  justify-content: space-around;
  position: sticky;
  top: 65px;
  margin-top: calc(1 * (1rem + 1vw));
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  background: #000;
}
body footer #github-logo {
  border: 2px solid #fff;
  background: #fff;
  border-radius: 50%;
}
body footer div img {
  width: 45px;
  aspect-ratio: 1;
}
body main {
  grid-area: main;
  flex-direction: column;
}
body main h2 {
  margin-top: calc(4 * (1rem + 1vw));
  margin-bottom: calc(1 * (1rem + 1vw));
  font-size: calc(1.5 * (1rem + 1vw));
  color: #00FF41;
}
body main h3 {
  margin: calc(1 * (1rem + 1vw));
  font-size: calc(0.8 * (1rem + 1vw));
  color: #00FF41;
}
body main p, body main a {
  color: #00FF41;
  width: 90%;
  font-size: calc(0.5 * (1rem + 1vw));
}

@media only screen and (min-width: 767px) {
  body .dolar-container .precio-dolar {
    width: 25%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titulo titulo" "compra venta";
  }
  body .tvGrande {
    grid-area: tvGrande;
    display: block;
    width: 200px;
    aspect-ratio: 4/3;
    margin: 0 auto;
    padding: 0.5rem;
    font-size: 0.75rem;
    color: #eee;
    text-align: center;
    border-radius: 10px;
    border: 10px solid #ccc;
    background-color: #333;
    transition: all 1s;
  }
  body .tvGrande.dragDropped {
    width: 80%;
    border: none;
    background: none;
    padding: 0;
    aspect-ratio: 16/9;
  }
  body .tvGrande.dragHover {
    background-color: blueviolet;
  }
  body .tvGrande iframe {
    width: 100%;
    aspect-ratio: 16/9;
  }
  body .main-container {
    grid-template-columns: repeat(2, 1fr);
  }
  body .main-container div {
    position: relative;
  }
  body .main-container div .svg-container {
    display: block;
  }
  body .main-container div .svg-container svg {
    position: absolute;
    right: 20px;
    top: 100px;
    width: 50px;
    height: 50px;
    fill: rgba(68, 68, 68, 0.2);
    cursor: pointer;
  }
  body .main-container div iframe {
    width: 100%;
    aspect-ratio: 16/9;
    transition: all 0.3s;
  }
  body .main-container div:hover .svg-container svg {
    fill: green;
  }
  body footer div img {
    width: 75px;
  }
}
@media only screen and (min-width: 1200px) {
  body .main-container {
    grid-template-columns: repeat(3, 1fr);
  }
  body .main-container .left:hover {
    z-index: 50;
    transition: all 0.3s;
    transition-delay: 2s;
    transform: translateX(50%) scale(2);
  }
  body .main-container .center:hover {
    z-index: 50;
    transition: all 0.3s;
    transition-delay: 2s;
    transform: translateX(0) scale(2);
  }
  body .main-container .right:hover {
    z-index: 50;
    transition: all 0.3s;
    transition-delay: 2s;
    transform: translateX(-50%) scale(2);
  }
  body footer {
    margin-top: calc(2 * (1rem + 1vw));
  }
  body main p, body main a {
    color: #00FF41;
    width: 75%;
  }
}/*# sourceMappingURL=styles.css.map */