$debug-level:0;             //1: Agrega borde rojo (outline, no border para que no ocupe espacio) para ver las cajas
                            //2: idem con !important
                            //3: idem + background

$baseSize: calc(1rem + 1vw);
$verde: #00FF41;
$verde-oscuro: #03A062;

::-webkit-scrollbar {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #00FF41;
    border-radius: 50px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    padding: 4px;
    //padding: 20px;

    @if $debug-level == 1 {
        outline: 1px solid red;
    }

    @if $debug-level == 2 {
        outline: 1px solid red !important;
    }

    @if $debug-level == 3 {
        outline: 1px solid red !important;
        background: rgba(250,10,50, 0.15);
    }

    font-size: calc(1* $baseSize);

    // color: $azul-fuerte;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

body {
    display: grid;
    background: #000;
    //grid-template-rows: 2vh 2vh auto auto auto auto auto;
    grid-template-areas:
        "header"
        "dolar"
        "tvGrande"
        "contenedor"
        "cafecito"
        "footer"
        "main";

    header {
        grid-area: header;
        @extend .fila;

        img {
            //width: 100px;
            max-height: 75px;
            aspect-ratio: 1;
        }
    }

    .dolar-container {
        grid-area: dolar;
        @extend .fila;
        justify-content: space-around;

        .precio-dolar {
            display: grid;
            border: 3px solid #00FF41;

            border-radius: 25px;
            box-shadow: 0 0 15px 5px rgba(0,255,0,0.7);
            transition: all .5s;
            &:hover {
                transition: all 3s;
                background: #ff00be;
                box-shadow: 0 0 15px 5px #ff00be;
                border-color: #ff00be;
            }

            grid-template-columns: 1fr;
            grid-template-areas:
                "titulo"
                "compra"
                "venta";
            // justify-content: center;

            .precio-dolar__titulo {
                grid-area: titulo;
                justify-self: center;
                font-size: calc(0.9* $baseSize);
            }

            .precio-dolar__valor-compra {
                grid-area: compra;
                justify-self: center;
                font-size: calc(0.6* $baseSize);
                margin: 2px 16px;
            }

            .precio-dolar__valor-venta {
                grid-area: venta;
                justify-self: center;
                font-size: calc(0.6* $baseSize);
            }

            span {
                color: #fff;
                font-family: 'Roboto', sans-serif;
            }
        }

    }

    .main-container {
        grid-area: contenedor;

        display: grid;
        gap: 0;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        div {
            .svg-container {
                display: none;
                //z-index: -100;
               }

            iframe {
                justify-self: center;
                width: 100%;
                aspect-ratio: 16/9;
            }
        }
    }

    .cafe {
      grid-area: cafecito;
      margin-top: calc(2 * $baseSize);
      z-index: 20;
      position: sticky;
      top:0;
      background: #000;
      height: 65px;
      @extend .fila;
      a {
        @extend .fila;
      }
    }

    footer {
        grid-area: footer;
        z-index: 10;
        @extend .fila;
        justify-content: space-around;
        position: sticky;
        top: 65px;

        margin-top: calc(1 * $baseSize);
        border-top: 3px solid #ccc;
        border-bottom: 3px solid #ccc;
        background: #000;
        // min-height: 100px;
        // max-height: 150px;

        #github-logo {
            border: 2px solid #fff;
            background: #fff;
            border-radius: 50%;
        }
        div {
            @extend .fila;
            // height: 100%;
            // aspect-ratio: 1;
            img {
                @extend .fila;
                // height: 100%;
                // max-height: 100px;
                // width: auto;
                width: 45px;
                aspect-ratio: 1;
            }
        }
    }

    main {
        grid-area: main;
        @extend .fila;
        flex-direction: column;
        h2 {
            margin-top: calc(4 * $baseSize);
            margin-bottom: calc(1 * $baseSize);
            font-size: calc(1.5 * $baseSize);
            color: $verde;
        }
        h3 {
            margin: calc(1 * $baseSize);
            font-size: calc(0.8 * $baseSize);
            color: $verde;
        }
        p, a {
            color: $verde;
            width: 90%;
            font-size: calc(0.5 * $baseSize);
        }
    }
}


@media only screen and (min-width: 767px) {
    body {
        .dolar-container {
            .precio-dolar {
                width: 25%;
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                "titulo titulo"
                "compra venta";
            }
        }

        .tvGrande {
            grid-area: tvGrande;

            display: block;
            width: 200px;
            aspect-ratio: 4/3;
            margin: 0 auto;
            padding: 0.5rem;
            font-size: 0.75rem;
            color: #eee;
            text-align: center;
            border-radius: 10px;
            border: 10px solid #ccc;
            background-color: #333;
            //border: 3px solid #666;
            transition: all 1s;

            &.dragDropped {
                //background-color: cyan;
                width: 80%;
                border: none;
                background: none;
                padding: 0;
                aspect-ratio: 16/9;
            }

            &.dragHover {
                background-color: blueviolet;
            }

            iframe {
                width: 100%;
                aspect-ratio: 16/9;
            }
        }

        .main-container {
            grid-template-columns: repeat(2, 1fr);
            div {
                position: relative;
                //background-color: #ccc;
                .svg-container {
                    display: block;
                    svg {
                        position: absolute;
                        right: 20px;
                        top: 100px;
                        width: 50px;
                        height: 50px;
                        fill: rgba(68,68,68,0.2);
                        cursor: pointer;
                    }
                }
                iframe {
                    width: 100%;
                    aspect-ratio: 16/9;
                    transition: all .3s;
                }
                &:hover {
                     .svg-container {
                        svg {
                           fill: green;
                        }
                    }
                }
            }
        }

        footer {
            div {
                img {
                    width: 75px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    body {
        .main-container {
            grid-template-columns: repeat(3, 1fr);

            //TODO: volver a poner estas clases
            .left {
                &:hover {
                    transition: all .3s;
                    transition-delay: 2s;
                    transform: translateX(50%) scale(2);
                }
            }

            .center {
                &:hover {
                    transition: all .3s;
                    transition-delay: 2s;
                    transform: translateX(0) scale(2);
                }
            }

            .right {
                &:hover {
                    //position: relative;
                    transition: all .3s;
                    transition-delay: 2s;
                    transform: translateX(-50%) scale(2);
                }
            }
        }

        footer {
            margin-top: calc(2 * $baseSize);
        }
        main {
            p, a {
                color: $verde;
                width: 75%;
            }
        }
    }
}