* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background: #222;
}

header {
    height: 3vw;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 16px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

header div {
    height: 100%;
    aspect-ratio: 1;
}

header div img {
    height: 100%;
    width: 100%;
}



h1 {
    margin-left: 48px;
}

:visited {
    color: green;
    text-decoration: none;
}

:active {
    text-decoration: none;
}


.container {
    margin: 12px 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid #eee;
}

.container iframe {
    border: 1px solid #fff;
    width: 100%;
    aspect-ratio: 16/9;
}

footer {
    background: #000;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-top: 96px;
    position: sticky;
    bottom: 0;
}

#github-logo {
    border: 2px solid #fff;
    background: #fff;
    border-radius: 50%;
}
footer div {
    /*border: 1px solid green;*/
    margin: 8px;
}

footer div img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 700px) {
    .container {
        margin: 48px 4px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 2px solid #eee;
    }
}