* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background: #222;
    color: white;
}

header {
    height: 3vw;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 16px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

header div {
    height: 100%;
    aspect-ratio: 1;
}

header div img {
    height: 100%;
    width: 100%;
}


h1 {
    margin-left: 48px;
    color: #fff;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

details {
    font-size: 1.2rem;
    color: #00FF41;
    margin: 8px 32px;
}

.dolar-container {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 8px auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.precio-dolar {
    padding: 4px;
    border: 1px solid red;
    width: 30%;
    border: 3px solid #00FF41;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "titulo titulo"
        "compra venta";
    justify-content: center;
    row-gap: 8px;
}

.precio-dolar span:hover {
    /*background: #fff;*/
    color: #ff00be;
    transition: all 0.3s;
}

.precio-dolar__titulo {
    grid-area: titulo;
    justify-self: center;
}

.precio-dolar__valor-compra {
    grid-area: compra;
    justify-self: center;
}

.precio-dolar__valor-venta {
    grid-area: venta;
    justify-self: center;
}

.precio-dolar__valor-venta:after {
    content: "$";
}
.precio-dolar__valor-compra:after {
    content: "$";
}

/****** Coder House *****/

.dancing-dolar {
    width: 100px;
    height: 100px;
    background-image: radial-gradient(#222 10%, green 60%, #222 70%);
    z-index: -100;
    font-size: 5rem;
    animation-name: dolar-danzante;
    animation-duration: 5s;
    animation-delay: 2;    /*cuánto tarda en iniciarse desde que carga la página*/
    animation-iteration-count: infinite; /*loop*/
    animation-timing-function: ease-in;   /*flujo, que empiece lento y luego rapido, siempre igual, etc*/
    text-align: center;

}

.container {
    margin: 12px 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid #eee;
}

.container iframe {
    border: 1px solid #fff;
    width: 100%;
    aspect-ratio: 16/9;
}

footer {
    background: #000;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-top: 96px;
    position: absolute;
    bottom: 0;
}

#github-logo {
    border: 2px solid #fff;
    background: #fff;
    border-radius: 50%;
}
footer div {
    /*border: 1px solid green;*/
    margin: 4px;
}

footer div img {
    width: 100%;
    height: 100%;
}

@keyframes dolar-danzante {
    0% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(45deg);
    }

    90% {
        transform: rotate(3300deg); /*Esto lo descubrí por error*/
    }
    100% {
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 700px) {
   /* footer {
        position: relative;
        bottom: 0;
    }*/
    .container {
        margin: 48px 4px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 2px solid #eee;
    }

    .precio-dolar {
        grid-template-columns: 1fr;
        grid-template-areas:
        "titulo"
        "compra"
        "venta";
    }
}